:root{
    --light-blue: #F3F7F9;
    --blue: #1D3557;
    --blue-80: #1d3557cc;
    accent-color: var(--blue);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-blue);
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    padding: 0 32px;
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1600px){
    .container{
        max-width: 1600px;
        margin: 0 auto;
    }
}